[project]
	description = A tiny issue tracker based on the Spring framework.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Georg Püschel (gpue)
[access "refs/for/refs/*"]
	read = group user/Georg Püschel (gpue)
	push = group user/Georg Püschel (gpue)
	label-Code-Review = -2..+2 group user/Georg Püschel (gpue)
	label-Verified = -1..+1 group user/Georg Püschel (gpue)
	rebase = group user/Georg Püschel (gpue)
	removeReviewer = group user/Georg Püschel (gpue)
	submit = group user/Georg Püschel (gpue)
[access "refs/heads/*"]
	read = group user/Georg Püschel (gpue)
	create = group user/Georg Püschel (gpue)
	push = +force group user/Georg Püschel (gpue)
	pushMerge = group user/Georg Püschel (gpue)
[access "refs/tags/*"]
	push = +force group user/Georg Püschel (gpue)
	pushTag = group user/Georg Püschel (gpue)
	pushSignedTag = group user/Georg Püschel (gpue)
