<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="skeleton::head"></head>
<body>
	<div th:replace="skeleton::jumbotron"></div>
	<div th:replace="skeleton::nav"></div>

	<div class="container col-md-7 col-md-offset-2">
		<form class="form-horizontal" role="form" action="issuelist"
			method="post" data-parsley-validate="true" id="issueform">
			<div th:if="${parent} != null" class="form-group">
				<label for="parent" class="col-sm-2 control-label">Parent</label> <input
					type="hidden" id="parent" name="parent" th:value="${parent.id}" />
				<div class="col-sm-10">
					<input type="text" class="form-control"
						th:attrappend="value=${'#' + parent.id + ' ' + parent.title}"
						disabled="disabled" />
				</div>
			</div>
			<div class="form-group">
				<label for="title" class="col-sm-2 control-label">Title</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="title" name="title"
						placeholder="My New Issue" required="required"
						data-parsley-length="[3,64]" />
				</div>
			</div>
			<div class="form-group">
				<label for="assignee" class="col-sm-2 control-label">Assignees</label>
				<div class="col-sm-10">
					<select id="select-beast" name="assignees[]" multiple="multiple">
						<option th:value="${me.name}" th:text="${me.name}">Add a
							contributor...</option>
						<option th:each="contributor : ${contributors}"
							th:if="${contributor.name} != ${me.name}"
							th:text="${contributor.name}" th:value="${contributor.name}">Add
							a contributor...</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="deadline" class="col-sm-2 control-label">Deadline</label>
				<div class="col-sm-10">
						<input class="datepicker form-control"
							data-date-format="dd.mm.yyyy" id="deadline" name="deadline"></input>
				</div>
			</div>
			<div class="form-group">
				<label for="description" class="col-sm-2 control-label">Description</label>
				<div class="col-sm-10">
					<input type="hidden" name="description" id="description" />
					<div id="sndesc"></div>

				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-primary fa fa-check validate">&nbsp;Create</button>
				</div>
			</div>
		</form>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#sndesc').summernote({
				height : 150
			});
			$('#select-beast').selectize({
				create : true,
				sortField : 'text'
			});
			$('.datepicker').datepicker({
				startDate : '-0d',
				weekStart : 1,
				todayHighlight : true,
				todayBtn : true,
				autoclose : true
			});
			
			$('#issueform').parsley().subscribe(
					'parsley:form:validate', function(formInstance) {
						if (formInstance.isValid(true)) {
							$('#description').attr({value:$('#sndesc').code()});
							return;
						}
					});
		});
	</script>
</body>
</html>