<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="skeleton::head"></head>
<body>
	<div th:replace="skeleton::jumbotron"></div>
	<div th:replace="skeleton::nav"></div>

	<div th:replace="skeleton::shout"></div>
	<div class=" container-fluid">
		<table class="table table-striped" id="tt">
			<thead>
				<tr>
					<th>Issue</th>
					<th>Latest activity</th>
					<th>Deadline</th>
					<th>State</th>
					<th></th>
				</tr>
			</thead>

			<tbody id="issuetable">

			</tbody>
		</table>

	</div>
	<script type="text/javascript" th:inline="javascript">
		var searchNeedle = /*[[${search}]]*/"";
		var pageNum = 1;
		$(document).ready(function() {
			addIssues();
		});

		function addIssues() {
			$.ajax({
				type : "GET",
				url : '/api/issues',
				data : {
					page : pageNum,
					search : searchNeedle
				},
				success : function(data) {
					var last = null;

					for (var i = 0; i != data.length; i++) {
						document.getElementById("issuetable").appendChild(
								last = issuerow(data[i]));
					}
					$(last).appear();
					$(last).on('appear', function(event, elements) {
						$(elements).off('appear');
						pageNum += 1;
						addIssues();
					});
					tree();
				},
				error : function(){
					shout("danger","Error!","Issues could be be retrieved.");
				},
				dataType : "json",
				contentType : "application/json"
			});
		}

		function tree() {
			$(".indenter").remove();
			$("#tt")
					.treetable(
							{
								expandable : true,
								expanderTemplate : '<a class="fa fa-plus-square" href="#">&nbsp;&nbsp;</a>'
							});
		}

		function issuerow(idata) {
			var parentId = null;
			if (idata.parent != null)
				parentId = idata.parent.id;

			var deadline = document.createElement('SPAN');
			if (idata.deadline != null) {
				var dist = idata.deadline - new Date().getTime();
				if (Math.abs(dist) != dist) {
					deadline.setAttribute("class", "fa fa-warning");
					deadline.setAttribute("style", "color:red");
					deadline.appendChild(txt(' '
							+ $.format.date(idata.deadline, 'dd.MM.yyyy')
							+ ' (overdue)'));
				} else {
					deadline.appendChild(txt($.format.date(idata.deadline,
							'dd.MM.yyyy')));
				}
			}

			return tr(idata.id, parentId, [
					td(issuelink(idata.id, idata.title)),
					td(txt($.format.date(idata.lastChanged,
							'dd.MM.yyyy HH:mm:ss'))), td(deadline),
					td(state(idata.open)), td(childlink(idata.id)) ]);
		}
	</script>
</body>
</html>