<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="skeleton::head"></head>
<body>
	<div th:replace="skeleton::jumbotron"></div>
	<div th:replace="skeleton::nav"></div>
	<div class="container">
		<div class="row">
			<span class="h3"> Contributor <a href="#"
				th:text="${contributor.name}"></a><span
				th:if="${contributor.fullName}!=null"
				th:text="' ('+${contributor.fullName}+')'">NAME</span> <a
				th:if="${me.isAdmin()} == true"
				th:href="@{/account/{id}(id=${contributor.name})}"
				class="btn btn-primary fa fa-edit">&nbsp;Edit</a> <a
				th:href="@{/issuelist(search=${'assigned@'+contributor.name})}"
				class="btn btn-primary fa fa-list">&nbsp;List assignments</a>
			</span>
		</div>
	</div>

	<div class="row">&nbsp;</div>

	<div class="container">
		<div class="row">
			<div class="col-md-11 top-margin">
				<div>
					<ul class="timeline" id="timeline">
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" th:inline="javascript">
		var contributor = /*[[${contributor.name}]]*/"";
		var pageNum = 1;
		
		$(document).ready(function() {
			addContributions();
		});
		
		function addContributions() {
			$.ajax({
				type : "GET",
				url : '/api/contributors/'+contributor+'/contributions',
				data : {
					page : pageNum
				},
				success : function(data) {
					var last = null;

					for (var i = 0; i != data.length; i++) {
						document.getElementById("timeline").appendChild(
								last = timelineEntry(data[i]));
					}
					$(last).appear();
					$(last).on('appear', function(event, elements) {
						$(elements).off('appear');
						pageNum += 1;
						addContributions();
					});
				},
				dataType : "json",
				contentType : "application/json"
			});
		}
	</script>
</body>
</html>