<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="skeleton::head"></head>
<body>
	<div th:replace="skeleton::jumbotron"></div>
	<div th:replace="skeleton::nav"></div>

	<div th:replace="skeleton::shout"></div>
	<div class="container">
		<div class="row col-md-10">

			<div role="tabpanel">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#metadata"
						aria-controls="home" role="tab" data-toggle="tab">Metadata</a></li>
					<li role="presentation"><a href="#process"
						th:if="${issue.processCode} != null and ${issue.isOpen()}"
						aria-controls="process" role="tab" data-toggle="tab">Current
							process tasks</a></li>
					<li role="presentation"><a href="#state"
						th:if="${issue.processCode} != null and ${issue.isOpen()}"
						aria-controls="state" role="tab" data-toggle="tab">Current
							process state</a></li>
					<li role="presentation"><a href="#contributions"
						aria-controls="contributions" role="tab" data-toggle="tab">Contributions</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="metadata">
						<form class="form-horizontal" role="form" action="issuelist"
							method="post" data-parsley-validate="true" id="issueform">
							<div class="form-group">
								<label for="title" class="control-label"></label>
								<div class="col-sm-10">
									<span class="h2 col-sm-3"> Issue #<span
										th:text="${issue.id}">ID</span>
									</span> <span class="col-sm-3" style="padding: 12px"> <span
										style="display: none" id="close" class="h5">is
											open&nbsp; <a class="btn btn-danger fa fa-close"
											href="javascript:close();">&nbsp;Close</a>
									</span> <span class="h5" style="display: none" id="open">is
											closed&nbsp; <a href="javascript:open();"
											class="btn btn-success fa fa-check">&nbsp;Re-Open</a>
									</span>
									</span> <span class="col-sm-4" style="padding: 12px"> <span
										style="display: none" id="watch" class="h5">not
											watching&nbsp; <a class="btn btn-success fa fa-eye"
											href="javascript:watch();">&nbsp;Watch</a>
									</span> <span class="h5" style="display: none" id="unwatch">is
											watched by you&nbsp; <a href="javascript:unwatch();"
											class="btn btn-danger fa fa-check">&nbsp;Unwatch</a>
									</span>
									</span> <span th:if="${me.isAdmin()}" class="h5 col-sm-1"
										style="padding: 12px"> <a
										href="javascript:deleteIssue(issue);"
										class="btn btn-danger fa fa-eraser">&nbsp;Delete</a>
									</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label"> </label>
								<div class="col-sm-10">
									<a th:if="${issue.parent} != null"
										class="btn btn-primary fa fa-sitemap"
										th:href="@{/issuelist(expand=${issue.parent.id},search='#'+${issue.parent.id})}">
										Show hierarchy</a> <a th:if="${issue.parent} == null"
										class="btn btn-primary fa fa-sitemap"
										th:href="@{/issuelist(expand=${issue.id},search='#'+${issue.id})}">
										Show hierarchy</a>
								</div>
							</div>

							<div class="form-group">
								<label for="parent" class="col-sm-2 control-label">Parent</label>
								<div class="col-sm-10">
									<select id="parent" name="parent" class="form-control">
										<option th:if="${issue.parent} != null"
											th:text="${issue.parent}" th:value="${issue.parent.id}"
											selected="selected">PARENT</option>
										<option th:if="${issue.parent} != null" value="-1">No
											parent</option>
										<option th:if="${issue.parent} == null" selected="selected"
											value="-1">No parent</option>
										<option th:each="pissue : ${issues}"
											th:unless="${issue.parent}!=null and (${pissue.equals(issue)} or ${pissue.equals(issue.parent)})"
											th:text="${pissue}" th:value="${pissue.id}">PARENT</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="title" class="col-sm-2 control-label">Title</label>
								<div class="col-sm-10">
									<input type="text" class="form-control deactivatable"
										id="title" name="title" required="required"
										th:value="${issue.title}" data-parsley-length="[3,64]"></input>
								</div>
							</div>
							<div class="form-group">
								<label for="assignees[]" class="col-sm-2 control-label">Assignees</label>
								<div class="col-sm-10">
									<select id="select-beast" name="assignees[]"
										multiple="multiple">
										<option th:each="contributor : ${issue.assignees}"
											th:text="${contributor.name}" th:value="${contributor.name}"
											selected="selected">Add a contributor...</option>
										<option th:each="contributor : ${contributors}"
											th:unless="${issue.assignees.contains(contributor)}"
											th:text="${contributor.name}" th:value="${contributor.name}">Add
											a contributor...</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="nonpublic" class="col-sm-2 control-label">Non-public</label>
								<div class="col-sm-10">
									<input type="checkbox" id="nonpublic" name="nonpublic"
										aria-label="Only visible to assignees?" checked="checked"
										th:if="${issue.visibilityRestricted}"></input><input
										type="checkbox" id="nonpublic" name="nonpublic"
										aria-label="Only visible to assignees?" 
										th:if="${issue.visibilityRestricted} == false"></input>
								</div>
							</div>
							<div class="form-group">
								<label for="deadline" class="col-sm-2 control-label">Deadline</label>
								<div class="col-sm-10">
									<input class="datepicker form-control deactivatable"
										data-date-format="dd.mm.yyyy" id="deadline" name="deadline"
										th:value="${issue.deadline} != null ? ${#calendars.format(issue.deadline,'dd.MM.yyyy')}"></input>
								</div>
							</div>
							<div class="form-group">
								<label for="description" class="col-sm-2 control-label">Description</label>
								<div class="col-sm-10">
									<input type="hidden" name="description" id="description"></input>
									<div id="sndesc" class="summernote"
										th:utext="${issue.description}"></div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="button" onclick="javascript:updateIssue()"
										class="btn btn-primary fa fa-save validate">&nbsp;Save</button>
								</div>
							</div>

						</form>
					</div>
					<div role="tabpanel" class="tab-pane" id="process"
						th:if="${issue.processCode} != null and ${issue.isOpen()}">
						<div class="container col-sm-10" style="padding: 40px"
							id="procform"></div>
						<script type="text/javascript" th:inline="javascript">
							var strState = /*[[${issue.processState}]]*/'{}';
							Proclib.netstate = JSON.parse(strState);
						</script>
						<script type="text/javascript" th:utext="${issue.processCode}"></script>
					</div>
					<div role="tabpanel" class="tab-pane" id="state"
						th:if="${issue.processCode} != null and ${issue.isOpen()}">
						<div id="visualization" style="width: 100%; height: 400px"></div>
						<script type="text/javascript">
							$('a[data-toggle="tab"]')
									.on(
											'shown.bs.tab',
											function(e) {
												if (e.target.hash == '#state') {
													showProcessGraph(document
															.getElementById('visualization'));
												}
											});
						</script>
					</div>
					<div role="tabpanel" class="tab-pane" id="contributions">
						<div class="container">
							<div class="row">
								<br />
								<div class="col-md-9 top-margin">
									<div>
										<ul class="timeline" id="timeline">
											<li id="contribform"><i class="fa fa-edit bg-green"></i>
												<div class="timeline-item">
													<h3 class="timeline-header">New contribution</h3>
													<div class="timeline-body">
														<form class="form-horizontal" role="form"
															th:action="@{/issuelist}" method="post"
															data-parsley-validate="true" id="issueform">
															<div id="sncontrib" class="summernote"></div>
															<br />
															<button type="button" onclick="javascript:contribute()"
																class="btn btn-primary fa fa-check validate submit">&nbsp;Contribute</button>
														</form>
													</div>
												</div></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script type="text/javascript" th:inline="javascript">
		var issue = /*[[${issue.id}]]*/-1;
		var asgSelect = null;
		var parentSelect = null;
		var pageNum = 1;

		$(document).ready(
				function() {
					$("#nonpublic").bootstrapSwitch();
					
					Proclib.prepare();

					asgSelect = $('#select-beast').selectize({
						create : true,
						sortField : 'text'
					})[0].selectize;
					parentSelect = $('#parent').selectize({
						create : true,
						sortField : 'text'
					})[0].selectize;
					$('.datepicker').datepicker({
						startDate : '-0d',
						weekStart : 1,
						todayHighlight : true,
						todayBtn : true,
						autoclose : true,
						dateFormat : 'dd.mm.yyyy'
					});

					$('#issueform').parsley().subscribe(
							'parsley:form:validate', function(formInstance) {
								if (formInstance.isValid(true)) {
									$('#description').attr({
										value : $('#sndesc').code()
									});
									return;
								}
							});

					$.ajax({
						type : "GET",
						url : baseURL + '/api/issues/' + issue,
						success : function(data) {
							updateOptions(data);
						},
						dataType : "json",
						contentType : "application/json"
					});
					addContributions();
				});

		function addContributions() {
			$.ajax({
				type : "GET",
				url : baseURL + '/api/issues/' + issue + '/contributions',
				data : {
					page : pageNum
				},
				success : function(data) {
					var last = null;

					for (var i = 0; i != data.length; i++) {
						document.getElementById("timeline").appendChild(
								last = timelineEntry(data[i]));
					}
					$(last).appear();
					$(last).on('appear', function(event, elements) {
						$(elements).off('appear');
						pageNum += 1;
						addContributions();
					});
					if (admin) {

						$(".delc").attr("style", "display:block");
					}
				},
				dataType : "json",
				contentType : "application/json"
			});
		}

		function updateOptions(data) {
			if (data.open) {
				document.getElementById("open").style.display = "none";
				document.getElementById("close").style.display = "block";

				$('.deactivatable').attr("disabled", false);

				$('.submit').attr("style", "display:block");

				$('.summernote').summernote({
					height : 150
				});
				$('#contribform').attr("style", "display:block");

				parentSelect.enable();

				asgSelect.enable();
			} else {
				document.getElementById("open").style.display = "block";
				document.getElementById("close").style.display = "none";

				$('.deactivatable').attr("disabled", true);
				$('#contribform').attr("style", "display:none");

				$('.submit').attr("style", "display:none");

				$('.summernote').destroy();

				parentSelect.disable();

				asgSelect.disable();
			}

			var i = 0;
			var foundMe = false;
			if (data.watchers.length != 0) {
				do {
					if (data.watchers[i].name == me)
						foundMe = true;
					i++;
				} while (i != data.watchers.length);
			}

			if (foundMe) {
				document.getElementById("unwatch").style.display = "block";
				document.getElementById("watch").style.display = "none";
			} else {
				document.getElementById("unwatch").style.display = "none";
				document.getElementById("watch").style.display = "block";
			}

		}

		function watch() {
			$.ajax({
				type : "GET",
				url : baseURL + '/api/issues/' + issue + ':watch',
				success : function(data) {
					updateOptions(data);
				},
				dataType : "json",
				contentType : "application/json"
			});
		};

		function unwatch() {
			$.ajax({
				type : "GET",
				url : baseURL + '/api/issues/' + issue + ':unwatch',
				success : function(data) {
					updateOptions(data);
				},
				dataType : "json",
				contentType : "application/json"
			});
		};

		function close() {
			$.ajax({
				type : "GET",
				url : baseURL + '/api/issues/' + issue + ':close',
				success : function(data) {
					window.location.reload();
				},
				dataType : "json",
				contentType : "application/json"
			});
		};

		function open() {
			$.ajax({
				type : "GET",
				url : baseURL + '/api/issues/' + issue + ':open',
				success : function(data) {
					window.location.reload();
				},
				dataType : "json",
				contentType : "application/json"
			});
		};

		function updateIssue() {
			if ($('#issueform').parsley().validate()) {

				var formData = {
					title : document.getElementById("title").value,
					description : $('#sndesc').code(),
					assignees : $("#select-beast").val(),
					parent : document.getElementById("parent").value,
					nonpublic: $('#nonpublic').bootstrapSwitch('state')				
				};

				if (document.getElementById("deadline").length != 0)
					formData.deadline = document.getElementById("deadline").value;

				$.ajax({
					type : "GET",
					url : baseURL + '/api/issues/' + issue + ':alter',
					data : formData,
					success : function(data) {
						window.location.reload();
					},
					dataType : "json",
					contentType : "application/json"
				});
			}
		}

		function contribute() {
			contribute($('#sncontrib').code());
		}

		function contribute(c) {
			var formData = {
				content : c,
				issue : issue
			};

			$.ajax({
				type : "GET",
				url : baseURL + '/api/issues/' + issue + ':contribute',
				data : formData,
				success : function(data) {
					window.location.reload();
				},
				error : function() {
					shout("error", "Error!", "Contribution failed.")
				},
				dataType : "json",
				contentType : "application/json"
			});
		}
	</script>
</body>
</html>