<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

<!-- Fontawesome core CSS -->
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
	rel="stylesheet"></link>
<!--GOOGLE FONT -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css'></link>
<!-- Timeline -->
<link th:href="@{/css/timeline.css}" rel="stylesheet"></link>

<!-- include jquery and bootstrap and font-awesome -->
<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet"></link>
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link
	href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
	rel="stylesheet"></link>

<!-- include summernote -->
<link th:href="@{/css/summernote.css}" rel="stylesheet"></link>
<script th:src="@{/js/summernote.min.js}"></script>

<!-- include treetable -->
<link th:href="@{/css/jquery.treetable.css}" rel="stylesheet"></link>
<script type="text/javascript" th:src="@{/js/jquery.treetable.js}"></script>

<!-- include selectize -->
<link th:href="@{/css/selectize.bootstrap3.css}" rel="stylesheet"></link>
<script type="text/javascript" th:src="@{/js/selectize.js}"></script>

<!-- include parsley (validation) -->
<script th:src="@{/js/parsley.min.js}" type="text/javascript"></script>

<!-- include data formatter -->
<script th:src="@{/js/jquery-dateFormat.min.js}" type="text/javascript"></script>

<!-- include jquery-appear -->
<script th:src="@{/js/jquery.appear.js}" type="text/javascript"></script>

<!-- include Chart.js -->
<script th:src="@{/js/excanvas.js}" type="text/javascript"></script>
<script th:src="@{/js/Chart.min.js}" type="text/javascript"></script>

<!-- include datepicker -->
<link th:href="@{/css/datepicker3.css}" rel="stylesheet"></link>
<script type="text/javascript" th:src="@{/js/bootstrap-datepicker.js}"></script>

<!-- vis -->
<link th:href="@{/css/vis.css}" rel="stylesheet"></link>
<script type="text/javascript" th:src="@{/js/vis.js}"></script>

<!-- switch -->
<link th:href="@{/css/bootstrap-switch.min.css}" rel="stylesheet"></link>
<script type="text/javascript" th:src="@{/js/bootstrap-switch.min.js}"></script>

<!-- own scripts -->
<script type="text/javascript" th:src="@{/js/processes.js}"></script>
<script type="text/javascript" th:src="@{/js/gotissues.js}"></script>
<script type="text/javascript" th:src="@{/js/proclib.js}"></script>

<title>Got Issues?</title>
<script type="text/javascript" th:inline="javascript">
	var me = /*[[${me.name}]]*/"";
	var admin = /*[[${me.isAdmin()}]]*/false;
	var baseURL = /*[[${baseurl}]]*/"";
</script>
</head>
<body>
	<div class="jumbotron" th:fragment="jumbotron">
		<h1>
			Got issues, <a th:href="@{/contributor/{id}(id=${me.name})}"
				th:text="${me.name}">USER</a>?
		</h1>
	</div>
	<div class="container" th:fragment="shout">
		<div class="row" id="shout"></div>
	</div>
	<nav class="navbar navbar-inverse" role="navigation" th:fragment="nav">
		<div class="container-fluid">
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-left">
					<li><a th:href="@{/issuelist}"><i class="fa fa-list bg-black"></i>&nbsp;
							List issues <span class="badge" th:text="${issuecount}"></span></a></li>
					<li>
						<button
							class="btn btn-default dropdown-toggle bg-black navbar-nav"
							type="button" id="dropdownIssues" data-toggle="dropdown"
							style="margin: 8px">
							<span class="fa fa-heart"></span>&nbsp;My issues <span
								class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu"
							aria-labelledby="dropdownIssues">
							<li role="presentation"><a role="menuitem" tabindex="-1"
								th:href="@{/issuelist?search=@watched:{who}(who=${me})}"><i class="fa fa-eye"></i>&nbsp;
									Watched issues <span class="badge" th:text="${watchcount}"></span></a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1"
								th:href="@{/issuelist?search=@assigned:{who}(who=${me})}"><i class="fa fa-pencil"></i>&nbsp;
									Assigned issues <span class="badge" th:text="${assigncount}"></span></a></li>
						</ul>
					</li>

					<li><a th:href="@{/createissue}"><i class="fa fa-plus bg-black"></i>&nbsp;
							Create issue</a></li>
					<li><a th:href="@{/processlist}"><i class="fa fa-cogs bg-black"></i>&nbsp;
							Processes</a></li>
					<li><a th:href="@{/userstats}"><i class="fa fa-tasks bg-black"></i>&nbsp;
							Users and statistics</a></li>
					<li>
						<form class="navbar-form navbar-left" role="search" method="get"
							th:action="@{/issuelist}">
							<div class="input-group">
								<input th:attr="value=${search==null ? '' : search}" type="text"
									class="form-control" id="search" name="search"
									placeholder="Search" />
								<div class="input-group-btn">
									<button type="submit" class="btn btn-default">
										<span class="fa fa-search"></span>
									</button>
									<button type="button" class="btn btn-default dropdown-toggle"
										data-toggle="dropdown" aria-expanded="false">
										Add filter <span class="caret"></span>
									</button>
									<ul class="dropdown-menu dropdown-menu-right" role="menu">
										<li><a
											href="javascript:$('#search').val($('#search').val()+' @assigned:'+me)">My
												assignments</a></li>
										<li><a
											href="javascript:$('#search').val($('#search').val()+' @watched:'+me)">Watched
												by me</a></li>
										<li><a
											href="javascript:$('#search').val($('#search').val()+' @open')">Open</a></li>
										<li><a
											href="javascript:$('#search').val($('#search').val()+' @closed')">Closed</a></li>
										<li><a
											href="javascript:$('#search').val($('#search').val()+' @archived')">Archived</a></li>
										<li class="divider"></li>
										<li><a href="javascript:$('#search').val('')">Clear</a></li>
									</ul>
								</div>
							</div>
						</form>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li th:if="${me.isAdmin()} == true"><a type="button"
						class="navbar-link" th:href="@{/createaccount}"><i
							class="fa fa-user bg-black"></i>&nbsp;Create account</a></li>
					<li><a type="button" class="navbar-link"
						th:href="@{/account/{id}(id=${me.name})}"><i
							class="fa fa-user bg-black"></i>&nbsp;My account</a></li>
					<li><a type="button" class="navbar-link" th:href="@{/logout}"><i
							class="fa fa-sign-out bg-black"></i>&nbsp;Sign out</a></li>
				</ul>
			</div>
		</div>
	</nav>
</body>
</html>