<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="skeleton::head"></head>
<body>
	<div th:replace="skeleton::jumbotron"></div>
	<div th:replace="skeleton::nav"></div>

	<div class="container" role="alert" th:if="${max} == 0">
		<div class="alert alert-warning">No contributions found for
			selected timespan!</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12" style="text-align: center">
				<ul class="pagination">
					<li><a href="/userstats?start=-86400000">today</a></li>
					<li><a href="/userstats?start=-604800000">week</a></li>
					<li><a href="/userstats?start=-18144000000">30d</a></li>
					<li><a href="/userstats?start=-54432000000">3 months</a></li>
					<li><a href="/userstats?start=-108864000000">6 months</a></li>
					<li><a href="/userstats?start=-220752000000">year</a></li>
					<li><a href="/userstats">ever</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-md-8 col-md-offset-2">
		<table th:if="${max} > 0">
			<tbody>
				<tr th:each="contributor : ${contributors}">
					<td><a th:href="@{/contributor/{id}(id=${contributor.name})}"
						th:text="${contributor.name}">CONTRIBUTOR</a></td>
					<td
						style="min-width: 300px; width: 1000px; padding: 0; padding-left: 20px; padding-top: 20px">
						<div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar"
								th:attr="aria-valuenow=${contributor.statCount},aria-valuemax=(100*${max})"
								th:attrappend="style=${'width:'+(100/max*contributor.statCount)+'%'}"
								th:text="${contributor.statCount}" aria-valuemin="0">SHARE</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>