<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="skeleton::head"></head>
<body>
	<div th:replace="skeleton::jumbotron"></div>
	<div th:replace="skeleton::nav"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-12" style="text-align: center">
				<ul class="pagination">
					<li><a href="javascript:charts(-86400000)">today</a></li>
					<li><a href="javascript:charts(-604800000)">week</a></li>
					<li><a href="javascript:charts(-18144000000)">30d</a></li>
					<li><a href="javascript:charts(-54432000000)">3 months</a></li>
					<li><a href="javascript:charts(-108864000000)">6 months</a></li>
					<li><a href="javascript:charts(-220752000000)">year</a></li>
					<li><a href="javascript:charts(-new Date().getTime())">ever</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-md-8 col-md-offset-2">
		<table class="table">
			<tbody id="stats">
			</tbody>
		</table>
	</div>

	<script type="text/javascript">
	<!--
		function chartsEver() {
			charts(0);
		}
		function charts(s) {
			Chart.defaults.global.responsive = !1;

			var uri = "/api/stats";

			if (s != 0) {
				uri += '?start=' + s;
			}

			$
					.getJSON(
							uri,
							function(stats) {
								var html = "";
								var max = 1;

								for (var i = 0; i < stats.length; i++) {
									var c = stats[i];
									if (c.points > max) {
										max = c.points;
									}
								}

								for (var i = 0; i < stats.length; i++) {
									var c = stats[i];
									html += "<tr><td style=\"vertical-align:middle\"><div class=\"progress-bar\" role=\"progressbar\" aria-valuenow=\""
											+ c.points
											+ "\" aria-valuemin=\"0\" aria-valuemax=\""
											+ max
											+ "\" style=\"width:"
											+ (100 * c.points / max)
											+ "%;min-width:200px\">"
											+ c.points
											+ " contribution points</div></td><td style=\"vertical-align:middle\">"
											+ "<a href=\"/contributor/"+c.contributor+"\">"
											+ c.contributor
											+ "</a>"
											+ "</td><td><canvas id=\""+c.contributor+"\" class=\"chart\" height=\"100\" width=\"100\" style=\"width:100px;height:100px\"></canvas></td></tr>\n";
								}

								$('#stats').html(html);

								for (var i = 0; i < stats.length; i++) {
									var c = stats[i];
									var canvas = document
											.getElementById(c.contributor);
									var ctx = canvas.getContext("2d");
									
									if (c.data[0].value==0 && c.data[1].value==0 && c.data[2].value==0) {
										new Chart(ctx).Doughnut([{label:"none",color:"lightgrey",value:100}], {});
									} else {
										new Chart(ctx).Doughnut(c.data, {});
									}
								}
							});
		}
		$(document).ready(chartsEver);
		-->
	</script>
</body>
</html>